.container{
    background-color: #eee;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 140px;
}

.title{
    font-size: 3rem;
    font-weight: 600;
    margin: 20px 0;
}

.hr{
    margin-top: 10px;
    width: 300px !important;
    height: 4px;
    background: #800000;
}
.hr:nth-child(3){
    margin-top: 10px;
    width: 200px !important;
    height: 4px;
    background: #800000;
}


.secondText{
    font-size: 1.85rem;
    margin: 20px 0;
    color: #666666;
    font-weight: 300;
}

.socSpanRed{
    color: #800000;
    font-weight: 700;
}

.socSpanGrey{
    font-weight: 700;
}

.box{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 0px;

}

.bigbox{
    width: 50%;
    padding: 0px 10px 0 20px;
    
}

.boxImage{
    /* display: none; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  93% 7% 94% 6% / 14% 84% 16% 86% !important ;
    overflow: hidden;
    background-color: red;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.Image{
    width: 100%;
    height: 320px;
}

.boxText{
    width: 50%;
    font-size: 1.1rem;
    line-height: 30px;
    padding: 10px 0 0 0;
}


@media (max-width:420px) {
    .container{
        background-color: #eee;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }
    
    .title{
        font-size: 1.8rem;
        font-weight: 600;
        margin: 20px 0;
    }
    
    .hr{
        margin-top: 10px;
        width: 150px !important;
        height: 4px;
        background: #800000;
    }
    .hr:nth-child(3){
        margin-top: 10px;
        width: 100px !important;
        height: 4px;
        background: #800000;
    }
    
    
    .secondText{
        font-size: 1.2rem;
        margin: 20px 0;
        color: #666666;
        font-weight: 300;
    }
    
    .socSpanRed{
        color: #800000;
        font-weight: 700;
    }
    
    .socSpanGrey{
        font-weight: 700;
    }
    
    .box{
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 0px;
    
    }
    
    .bigbox{
        width: 100%;
        padding: 0px 10px 0 20px;
        margin-top: 50px;
    }
    
    .boxImage{
        /* display: none; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:  93% 7% 94% 6% / 14% 84% 16% 86% !important ;
        overflow: hidden;
        background-color: red;
        box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    }
    
    .Image{
        width: 100%;
        height: 220px;
    }
    
    .boxText{
        width: 100%;
        font-size: 0.8rem;
        line-height: 20px;
        padding: 10px 0 0 0;
        font-weight: 500;
    }
}
